/* здесь используйте глобальные селекторы img, body, html и так далее */
body {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  background-color: $color_white;
  margin: 0;
  min-width: 320px;
}
