/* здесь используйте глобальные переменные */
$color-black: rgba(0, 0, 0, 1);
$color-white: rgba(255, 255, 255, 1);
$dark-grey: rgba(68, 68, 68, 1);
$light-black: rgba(17, 17, 17, 1);
$black-34: rgba(34, 34, 34, 1);
$green: rgba(104, 183, 56, 1);
$green-transparent: rgba(104, 183, 56, 0.85);
$benefits-border: rgba(205, 205, 205, 1);
$gray: rgba(217, 217, 217, 1);
$light-gray: rgba(234, 234, 234, 1);
$gray-border-menu: rgba(230, 230, 230, 1);
$dark-white: rgba(242, 242, 242, 1);
$dirty-gray: rgba(102, 102, 102, 1);
$border-catalog: rgba(235, 235, 235, 1);
$plus-catalog: rgba(211, 211, 211, 1);
$button-state: rgba(94, 170, 47, 1);
$button-state-more: rgba(235, 235, 235, 1);
$background-cat: rgba(63, 62, 67, 1);

$prinary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

$mobile-width: 320px;
$max-width-mobile: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
