/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";


/* BLOCKS */
@import "./blocks/page.scss";
@import "./blocks/visually-hidden.scss";
@import "./blocks/header-wrapper.scss";
@import "./blocks/header.scss";
@import "./blocks/logo-energy.scss";
@import "./blocks/header-nav.scss";
@import "./blocks/main-container.scss";
@import "./blocks/programs.scss";
@import "./blocks/title.scss";
@import "./blocks/advantages.scss";
@import "./blocks/button-link-catalog.scss";
@import "./blocks/benefits.scss";
@import "./blocks/subtitle.scss";
@import "./blocks/examples.scss";
@import "./blocks/example.scss";
@import "./blocks/table-example.scss";
@import "./blocks/footer.scss";
@import "./blocks/maps.scss";
@import "./blocks/contacts.scss";
@import "./blocks/social.scss";
@import "./blocks/catalog.scss";
@import "./blocks/catalog-card.scss";
@import "./blocks/desc-list.scss";
@import "./blocks/additional-product.scss";
@import "./blocks/box-additional.scss";
@import "./blocks/subscription.scss";
@import "./blocks/form.scss";
