.benefits__wrapper {
  padding: 0 20px;
  box-sizing: border-box;
  min-width: 280px;
  width: 100%;
  margin: 0 auto 49px;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    width: 100%;
    margin: 0 auto 47px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    padding: 0 110px;
  }
}

.benefits__title {
  line-height: 40px;
  color: $color-black;

  @media (min-width: $tablet-width) {
    line-height: 60px;
  }
}

.benefits__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 20px;


  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 230px);
    gap: 37px 153px;
    margin-top: 32px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    gap: 94px;
  }
}

.benefits__item {
  position: relative;


  @media (min-width: $tablet-width) {
    flex-direction: column;
    padding-top: 40px;
  }
}

.benefits__text {
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;
  margin: 0 0 0 80px;
  width: 200px;
  padding: 3px 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 111px;
    margin-left: 0;
    width: 230px;
    padding: 0;
    padding-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 110px;
    margin-left: 0;
    width: 230px;
  }
}

.benefits__item--natural-food::before,
.benefits__item--fast-food::before,
.benefits__item--functionality::before,
.benefits__item--efficiency::before {
  content: " ";
  display: block;
  background-color: $green;
  width: 60px;
  height: 60px;
  position: absolute;

  @media (min-width: 768px) {
    width: 80px;
    height: 80px;
  }
}

.benefits__item--natural-food::after {
  content: " ";
  display: block;
  position: absolute;
  background-image: url("../../../../icons/stack.svg#leaf");
  width: 30px;
  height: 32px;
  top: 15px;
  left: 15px;

  @media (min-width: $tablet-width) {
    top: 65px;
    left: 25px;
  }
}

.benefits__item--fast-food::after {
  content: " ";
  display: block;
  position: absolute;
  background-image: url("../../../../icons/stack.svg#water");
  width: 30px;
  height: 32px;
  top: 15px;
  left: 15px;

  @media (min-width: $tablet-width) {
    top: 65px;
    left: 25px;
  }
}

.benefits__item--functionality::after {
  content: " ";
  display: block;
  position: absolute;
  background-image: url("../../../../icons/stack.svg#cutlery");
  width: 30px;
  height: 32px;
  top: 15px;
  left: 15px;

  @media (min-width: $tablet-width) {
    top: 65px;
    left: 25px;
  }
}


.benefits__item--efficiency::after {
  content: " ";
  display: block;
  position: absolute;
  background-image: url("../../../../icons/stack.svg#watch");
  width: 30px;
  height: 32px;
  top: 15px;
  left: 15px;

  @media (min-width: $tablet-width) {
    top: 65px;
    left: 25px;
  }
}
