.benefits {
  padding-top: 10px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 92px;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: $gray-border-menu;
      position: absolute;
      top: 665px;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;

    &::after {
      display: none;
    }
  }
}

.benefits__wrapper {
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    padding: 0 110px;
    max-width: 1440px;
  }
}

.benefits__title {
  line-height: 40px;
  color: $color-black;

  @media (min-width: $tablet-width) {
    line-height: 60px;
  }
}

.benefits__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 20px;


  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto auto;
    gap: 37px 119px;
    min-width: 633px;
    margin-top: 32px;
    padding-right: 75px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    gap: 94px;
  }
}

.benefits__item {
  position: relative;
  min-height: 60px;
  display: flex;
  align-items: center;


  @media (min-width: $tablet-width) {
    padding-top: 40px;
  }
}

.benefits__text {
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;
  margin: 0 0 0 80px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 111px;
    margin-left: 0;
    padding: 0;
    padding-bottom: 57px;
    position: relative;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 110px;
    margin-left: 0;
    width: 230px;
  }
}

.benefits__item::before {
  content: " ";
  display: block;
  background-color: $green;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    top: 40;
  }
}


.benefits__item--natural-food::after {
  content: " ";
  display: block;
  position: absolute;
  background-image: url("../../../../icons/stack.svg#leaf");
  width: 30px;
  height: 32px;
  top: 15px;
  left: 15px;

  @media (min-width: $tablet-width) {
    top: 65px;
    left: 25px;
  }
}

.benefits__item--fast-food::after {
  content: " ";
  display: block;
  position: absolute;
  background-image: url("../../../../icons/stack.svg#water");
  width: 30px;
  height: 32px;
  top: 15px;
  left: 15px;

  @media (min-width: $tablet-width) {
    top: 65px;
    left: 25px;
  }
}

.benefits__item--functionality::after {
  content: " ";
  display: block;
  position: absolute;
  background-image: url("../../../../icons/stack.svg#cutlery");
  width: 30px;
  height: 32px;
  top: 15px;
  left: 15px;

  @media (min-width: $tablet-width) {
    top: 65px;
    left: 25px;
  }
}


.benefits__item--efficiency::after {
  content: " ";
  display: block;
  position: absolute;
  background-image: url("../../../../icons/stack.svg#watch");
  width: 30px;
  height: 32px;
  top: 15px;
  left: 15px;

  @media (min-width: $tablet-width) {
    top: 65px;
    left: 25px;
  }
}

@media (min-width: $tablet-width) {
  .benefits__item--natural-food .benefits__text::after {
    content: "1";
    font-size: 280px;
    line-height: 280px;
    font-family: $secondary-font;
    color: $dark-white;
    position: absolute;
    top: -152px;
    right: 39px;
    z-index: -1;

    @media (min-width: $desktop-width) {
      top: -150px;
      right: 6px;
    }
  }

  .benefits__item--fast-food .benefits__text::after {
    content: "2";
    font-size: 280px;
    line-height: 280px;
    font-family: $secondary-font;
    color: $dark-white;
    position: absolute;
    top: -152px;
    right: 4px;
    z-index: -1;

    @media (min-width: $desktop-width) {
      top: -148px;
      right: -17px;
    }
  }

  .benefits__item--functionality .benefits__text::after {
    content: "3";
    font-size: 280px;
    line-height: 280px;
    font-family: $secondary-font;
    color: $dark-white;
    position: absolute;
    top: -152px;
    right: 16px;
    z-index: -1;

    @media (min-width: $desktop-width) {
      top: -148px;
      right: -17px;
    }
  }

  .benefits__item--efficiency .benefits__text::after {
    content: "4";
    font-size: 280px;
    line-height: 280px;
    font-family: $secondary-font;
    color: $dark-white;
    position: absolute;
    top: -152px;
    right: 0;
    z-index: -1;

    @media (min-width: $desktop-width) {
      top: -148px;
      right: -17px;
    }
  }
}

