.button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
  text-align: center;
  text-transform: uppercase;
  background-color: $green;
  border: none;
  cursor: pointer;
  word-wrap: break-word;
  padding: 0 2px;


  &:hover {
    background-color: $button-state;
  }

  &:active {
    background-color: $button-state;
    color: $color-white-opacity;
  }
}

.catalog__button--more {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  background-color: $dark-white;
  color: $dark-grey;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  word-wrap: break-word;
  padding: 0 2px;


  &:hover,
  &:active {
    background-color: $button-state-more;
  }
}

.button--form {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 26px;
  color: $color-white;
  text-align: center;
  text-transform: uppercase;
  background-color: $green;
  cursor: pointer;
  word-wrap: break-word;
  padding: 0 2px;
}
