.button-link-catalog {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: $color-black;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.button-link-catalog::after {
  content: " ";
  background-image: url("../../../../icons/stack.svg#icon-arrow");
  width: 24px;
  height: 12px;
  position: absolute;
  top: 1px;
  left: 101px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    top: 9px;
    left: 132px;
  }
}

.button-link-catalog:active {
  opacity: 30%;
}

.button-link-catalog:active::after {
  opacity: 30%;
}
