.button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
  text-align: center;
  text-transform: uppercase;
  background-color: $green;
  border: none;
  padding: 0;

  &:hover {
    background-color: $button-state;
  }

  &:active {
    background-color: $button-state;
    opacity: 30%;
  }
}

.catalog__button--more {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  background-color: $dark-white;
  color: $dark-grey;
  padding: 0;
  border: none;


  &:hover,
  &:active {
    background-color: $button-state-more;
  }
}

.button--form {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 26px;
  color: $color-white;
  text-align: center;
  text-transform: uppercase;
  background-color: $green;
  padding: 0;
}
