.catalog {
  padding-top: 28px;

  @media (min-width: $tablet-width) {
    padding: 65px 0 73px;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 0 70px;
  }
}

.catalog__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.catalog__title {
  color: $color-black;
  margin: 0;
  margin-bottom: 40px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding: 0;
    margin-bottom: 84px;
  }
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin: 0 auto;
    max-width: 708px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
    max-width: 1220px;
    margin: 0;
  }
}

.catalog__list-item {
  grid-template-columns: 140px 76px 64px;
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  padding: 20px 0 24px;
  border-top: 1px solid $border-catalog;


  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    border: none;
    padding-top: 0;
    padding-bottom: 40px;
    height: fit-content;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.catalog__list-item-link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $light-black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 18px 0 8px;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    padding: 50px 77px 23px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 24px;
    padding: 40px 37px 26px;
  }
}

.catalog__list-item-icon {
  background-image: url("../../../../icons/stack.svg#plus");
  width: 30px;
  height: 30px;
  margin: 0 auto;
  padding-top: 9px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 60px;
    height: 60px;
    padding: 0;
  }
}

.catalog__button {
  grid-column: 1/4;
  height: 40px;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.catalog__list-item--more {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom: 1px solid $border-catalog;

  @media (min-width: $tablet-width) {
    width: 324px;
    align-self: end;
    border: 1px solid $border-catalog;
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-top: 48px;
    align-self: flex-end;
  }
}

.catalog__list-item-excerpt {
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;
  margin: 0;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    padding: 0 77px 81px;
  }


  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0 37px 91px;
  }
}
