.desc-list {
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;
  display: flex;
  flex-direction: column;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.desc-list__wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $border-catalog;
    padding: 5px 0;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 1px solid $border-catalog;
    padding: 0 0 11px;
    box-sizing: border-box;
  }
}
