.example {
  position: relative;
}

.example__table {
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.example__price {
  margin: 0 auto 20px;

  @media (min-width: $tablet-width) {
    display: block;
    width: 174px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    display: block;
    text-align: left;
  }
}

.example__price-text,
.example__price-sum {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  color: $color-black;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
  }
}

.example__price-text {
  @media (min-width: $desktop-width) {
    margin: 0;
    margin-right: 63px;
  }
}
