.examples__wrapper {
  background-color: $light-gray;
  display: flex;
  flex-direction: column;
  padding: 25px 20px 40px;
  box-sizing: border-box;
  min-width: 280px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient($color-white 25%, $light-gray 25% 50%);
    padding: 45px 30px 101px;
    min-width: 708px;
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient($color-white 22%, $light-gray 22%);
    padding: 0 110px;
    padding-bottom: 85px;
  }
}

.examples_title {
  line-height: 40px;
  color: $color_black;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    line-height: 60px;
    margin: 0;
  }
}

.examples__text {
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;
  text-align: left;
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
    margin-top: 60px;
  }


  @media (min-width: $desktop-width) {
    width: 436px;
    margin: 0;
    margin-bottom: 69px;
    margin-top: 146px;
  }
}

.table-example__item-text {
  font-size: 12px;
  line-height: 12px;
  color: $dark-grey;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 14px;
  }
}

.examples__description {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    min-width: 768px;
    margin: 0;
  }
}

.examples__image-before {
  display: block;
}

.examples__image-after {
  display: block;
}

.examples_photo {
  display: flex;
  position: relative;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 74px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 74px;
    margin-top: -545px;
    margin-left: 585px;
  }
}

.examples__slider-button {
  padding: 0;
  background-color: $dirty-gray;
  width: 4px;
  height: 256px;
  border: none;
  border-radius: 2px;
  display: block;
  position: absolute;
  top: 0;
  left: 138px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: 0;
    left: 352px;
    height: 512px;
  }
}

.examples__slider-button:hover {
  background-color: $green;
}

.examples__slider-button:active {
  opacity: 60%;
}

.examples__slider-button::before {
  content: " ";
  background-color: $color-white;
  border: 2px solid $dirty-gray;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  left: -18px;
  top: 110px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    top: 235px;
  }
}

.examples__slider-button:hover::before {
  border-color: $green;
}

.examples__slider-button:active::before {
  opacity: 60%;
}

.examples__slider-button::after {
  content: " ";
  mask-image: url("../../../../icons/stack.svg#slider");
  background-color: $dirty-gray;
  width: 24px;
  height: 18px;
  position: absolute;
  top: 120px;
  left: -9px;

  @media (min-width: $tablet-width) {
    top: 245px;
    left: -10px;
  }
}

.examples__slider-button:hover::after {
  background-color: $green;
}

.examples__slider-button:active::after {
  opacity: 60%;
}
