.example {
  position: relative;
}

.example__table {
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.example__price {
  margin: 0 auto 20px;

  @media (min-width: $tablet-width) {
    width: 174px;
    text-align: right;
    margin: 0;
    padding-top: 11px;
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    text-align: left;
    padding: 0;
    flex-direction: row;
    gap: 63px;
  }
}

.example__price-text,
.example__price-sum {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  color: $color-black;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}


.example__price-sum {
  @media (min-width: $tablet-width) {
    align-self: flex-end;
  }
}
