
.footer__wrapper {
  margin: 0 auto;
  background-color: $dark-white;
}

.footer__maps {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  align-items: center;
  box-sizing: border-box;
  position: relative;


  @media (min-width: $tablet-width) {
    padding: 55px 30px;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 66px 110px;
    margin: 0 auto;
  }
}
