
.footer__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    min-width: 738px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1330px;
  }
}

.footer__maps {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  align-items: center;
  gap: 40px;
  background-color: $dark-white;
  width: 100%;
  box-sizing: border-box;
  position: relative;


  @media (min-width: $tablet-width) {
    padding: 55px 30px;
    flex-direction: row;
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 110px;
    gap: 0;
  }
}
