.form__input {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 30px;
  color: $dark-grey;
}

.form__button {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 26px;
  color: $color_white;
  text-align: center;
  background-color: $green;
}
