.header-nav__list {
  display: none;
  list-style-type: none;

  @media (min-width: 768px) {
    font-family: $secondary-font;
    font-size: 18px;
    line-height: 24px;
    color: $color_black;
    display: block;
  }

  @media (min-width: 1440px) {
    font-size: 20px;
    line-height: 30px;
    display: block;
  }
}
