.logo-energy {
  display: flex;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.logo-energy:hover {
  opacity: 80%;
}

.logo-energy:active {
  opacity: 60%;
}

.logo-energy__picture {
  display: block;
}

.logo-energy__text {
  align-self: center;
  margin-left: 56px;

  @media (min-width: $tablet-width) {
    margin-left: 13px;
  }

  @media (min-width: 1440px) {
    margin-left: 13px;
  }
}
