.logo-energy {
  display: block;
}

.logo-energy:hover {
  opacity: 80%;
}

.logo-energy:active {
  opacity: 60%;
}

.logo-energy__text {
  @media (min-width: 1440px) {
    width: 118px;
    height: 21px;
  }
}
