.main-container {
  background-color: $color-white;
  min-width: 280px;
  width: 100%;

  @media (min-width: $tablet-width) {
    min-width: 738px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1330px;
  }
}
