.programs {
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      background-color: $background-cat;
      background-position: 0 0;

      background-image: linear-gradient($green-transparent, $green-transparent), url("../../images/index/desktop/index-background-desktop.png");
      background-repeat: no-repeat;
      height: 694px;
      width: 50%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.programs__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;


  @media (min-width: $tablet-width) {
    padding: 0 30px;
    box-sizing: border-box;
    margin-bottom: 526px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 266px;
    align-items: flex-start;
    padding: 0 110px;
    max-width: 1440px;
  }
}

.programs__wrapper::before {
  content: "";
  background-color: $background-cat;
  background-image: linear-gradient($green-transparent, $green-transparent), url("../../images/index/mobile/index-background-desktop_2.jpg");
  background-repeat: no-repeat;

  background-position: center;
  height: 302px;
  width: 100%;
  position: absolute;

  @media (min-width: $tablet-width) {
    display: none;
  }
}


.programs__information {
  z-index: 2;
  position: relative;
  padding-top: 27px;
  align-self: center;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    align-self: flex-start;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    padding-left: 80px;
  }
}

.programs__title {
  z-index: 1;
  padding-bottom: 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 65px 0 0;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 110px;
  }
}

.programs__slogan {
  font-family: $secondary-font;
  line-height: 14px;
  font-size: 14px;
  color: $color_white;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 302px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    color: $color-black;
    line-height: 20px;
    font-size: 20px;
    margin: 40px 0 50px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.programs__image-product {
  position: absolute;
  z-index: 1;
  top: 167px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    top: 268px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    position: relative;
    margin-left: 300px;
    margin-top: -630px;
  }
}

.programs__button {
  text-decoration: none;
  display: block;
  padding: 10px 0;
  box-sizing: border-box;
  width: 280px;
  margin: 0 auto;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    padding: 14px 26px;
    position: relative;
    width: 244px;
    height: 54px;
    box-sizing: border-box;
    display: block;
    margin: 0;
  }

  @media (min-width: $desktop-width) {

  }
}
