.programs {
  padding-bottom: 10px;
  position: relative;

  &::before {
    content: "";
    background-color: $background-cat;
    background-image:
      linear-gradient($green-transparent, $green-transparent),
      image-set( url("../../images/index/mobile/background_cat_mobile@1x.webp") type("image/webp") 1x,
      url("../../images/index/mobile/background_cat_mobile@1x.webp") type("image/webp") 2x,
      url("../../images/index/mobile/background_cat_mobile@1x.jpg") type("image/png") 1x,
      url("../../images/index/mobile/background_cat_mobile@2x.jpg") type("image/png") 2x);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 62%;
    width: 100%;
    position: absolute;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}


.programs__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;


  @media (min-width: $tablet-width) {
    padding: 0 120px 515px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 266px;
    align-items: flex-start;
    padding: 0 110px;
    max-width: 1440px;
    position: relative;
  }
}


.programs__information {
  z-index: 2;
  position: relative;
  padding-top: 27px;
  align-self: center;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    align-self: flex-start;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    padding-left: 80px;
  }
}

.programs__title {
  z-index: 1;
  padding: 27px 0 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 65px 0 40px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 110px 0 40px 80px;
    width: 420px;
  }
}

.programs__slogan {
  font-family: $secondary-font;
  line-height: 14px;
  font-size: 14px;
  color: $color_white;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  z-index: 1;
  padding-bottom: 29px;

  @media (min-width: $tablet-width) {
    color: $color-black;
    line-height: 20px;
    font-size: 20px;
    padding: 0 0 50px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 52px 80px;
    width: 283px;
  }
}

.programs__image-product {
  position: relative;
  display: block;
  margin: 0 auto;
  padding-bottom: 3px;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    top: 265px;
    left: 28px;
  }

  @media (min-width: $desktop-width) {
    top: 29px;
    left: 39%;
    z-index: 1;
  }
}

.programs__button {
  text-decoration: none;
  display: block;
  padding: 10px 0;
  box-sizing: border-box;
  width: 280px;
  margin: 0 auto;
  order: 1;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    padding: 14px 26px;
    position: relative;
    width: 244px;
    min-height: 54px;
    box-sizing: border-box;
    display: block;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 80px;
  }
}
