.programs__wrapper {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  width: 100%;
  margin: 0 auto 30px;
  position: relative;


  @media (min-width: $tablet-width) {
    padding: 0 30px;
    min-width: 708px;
    box-sizing: border-box;
    margin-bottom: 526px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 266px;
    align-items: flex-start;
    padding: 0 110px;
  }
}

@media (min-width: $mobile-width) and (max-width: 767px) {
  .programs__wrapper::before {
    content: " ";
    background-image: url("../../images/index/mobile/index-background-desktop 2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 320px;
    min-height: 302px;
    width: 100%;
    position: absolute;
  }
}

/*
  @media (min-width: $desktop-width) {
    content: " ";
    background-image: url("../../images/index/desktop/index-background-desktop.png");
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    min-width: 720px;
    width: 720px;
    height: 694px;
    top: 0;
    left: 720px;
  } */

.programs__wrapper::after {
  content: " ";
  background-color: $green-transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 320px;
  min-height: 302px;
  width: 100%;
  position: absolute;

  @media (min-width: $tablet-width) {
    border: none;
    background-color: $color-white;
  }

  @media (min-width: $desktop-width) {
    content: " ";
    background-color: $green-transparent;
    background-repeat: no-repeat;
    background-size: cover;
    height: 694px;
    width: 100%;
    position: absolute;
    top: -114;
    left: 720px;
  }
}

.programs__information {
  z-index: 1;
  padding-top: 27px;
  align-self: center;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    align-self: flex-start;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    padding-left: 80px;
  }
}

.programs__title {
  z-index: 1;
  padding-bottom: 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 65px 0 0;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 110px;
  }
}

.programs__slogan {
  font-family: $secondary-font;
  line-height: 14px;
  font-size: 14px;
  color: $color_white;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 312px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    color: $color-black;
    line-height: 20px;
    font-size: 20px;
    margin: 40px 0 50px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.programs__image-product {
  position: absolute;
  z-index: 1;
  top: 167px;
  left: 21px;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    top: 268px;
    left: 31px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    position: relative;
    margin-left: 415px;
    margin-top: -630px;
  }
}

.programs__button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $green;
  padding: 8px 63px;
  box-sizing: border-box;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    padding: 14px 26px;
    position: relative;
    width: 244px;
    height: 54px;
    box-sizing: border-box;
    display: block;
  }

  @media (min-width: $desktop-width) {

  }
}
