.subscription__wrapper {
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px 80px;
    position: relative;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    max-width: 1440px;
  }
}

.subscription__subtitle {
  font-size: 24px;
  line-height: 24px;
  position: relative;
  padding-bottom: 35px;
  background-color: $color-white;
  width: fit-content;
  box-shadow: 40px 0 0 0 $color-white;

  &::after {
    content: " ";
    width: 50vw;
    height: 2px;
    background-color: $green;
    top: 12px;
    left: 0;
    position: absolute;
    box-shadow: 50vw 0 0 0 $green;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {

    padding: 0 0 0 40px;
    margin-bottom: 66px;
    font-size: 32px;
    line-height: 32px;
    background-color: $color-white;
    box-shadow: 40px 0 0 0 $color-white;


    &::after {
      content: " ";
      width: 50vw;
      height: 2px;
      background-color: $green;
      top: 10px;
      left: -30px;
      position: absolute;
      box-shadow: 50vw 0 0 0 $green;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 66px;
    font-size: 40px;
    line-height: 40px;
    width: 293px;
    background-color: $color-white;
    box-shadow: -40px 0 0 0 $color-white, 0 0 0 0 $color-white;


    &::after {
      content: " ";
      width: 50vw;
      background-color: $green;
      top: 19px;
      left: -110px;
      position: absolute;
      box-shadow: 50vw 0 0 0 $green;
      z-index: -1;
    }
  }
}

.subscription__text {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  color: $color_black;
  margin: 0;
  text-align: center;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    padding: 0 38px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 72px;
    margin-bottom: 24px;
  }
}

.subscription__forms {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 106px;
  }
}
