.subtitle {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $color-black;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }
}
