.table-example__item-text {
  font-size: 12px;
  line-height: 12px;
  color: $dark-grey;
  text-align: center;
  background-color: $light-gray;
  width: 59px;
  margin: 0 0 -15px;
  padding: 0 14px;


  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: $color-white;
    padding: 0 8px;
    margin: 0 0 -8px;
    width: fit-content;
  }

  @media (min-width: $desktop-width) {
    background-color: $light-gray;
  }
}

.table-example__item-value {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: $color-black;
  margin: 0;
  text-align: center;
  padding-top: 14px;
  word-wrap: break-word;
  width: 121px;


  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 11px;
  }
}

.table-example__item {
  border: 1px solid $benefits-border-hover;
  box-sizing: border-box;
  width: 124px;
  min-height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 6px;


  @media (min-width: $tablet-width) {
    min-width: 162px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    min-height: 72px;
    gap: 10px;
  }

  @media (min-width: $desktop-width) {
    gap: 0;
  }
}


.table-example__list {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
  display: flex;
  gap: 32px;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin: 0 167px 102px 0;
    gap: 43px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 61px;
    gap: 42px;
    justify-content: flex-start;
  }
}
